<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{branch.hasOwnNews}">
    <f:then>
        <span class="badge badge-info ms-1"
              title="{f:translate(key: 'pageTree.count.own', arguments: {count: branch.newsCount})}">
            <span aria-hidden="true">{branch.newsCount}</span>
            <span class="visually-hidden">
                <f:translate key="pageTree.count.own" arguments="{count: branch.newsCount}"/>
            </span>
        </span>
        <f:if condition="{branch.hasSubTotal}">
            <span class="badge badge-secondary ms-1"
                  title="{f:translate(key: 'pageTree.count.total', arguments: {count: branch.newsTotal})}">
                <span aria-hidden="true">{branch.newsTotal}</span>
                <span class="visually-hidden">
                    <f:translate key="pageTree.count.total" arguments="{count: branch.newsTotal}"/>
                </span>
            </span>
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{branch.hasNews}">
            <f:then>
                <span class="badge badge-info ms-1"
                      title="{f:translate(key: 'pageTree.count.total', arguments: {count: branch.newsTotal})}">
                    <span aria-hidden="true">{branch.newsTotal}</span>
                    <span class="visually-hidden">
                        <f:translate key="pageTree.count.total" arguments="{count: branch.newsTotal}"/>
                    </span>
                </span>
            </f:then>
            <f:else>
                <span class="badge badge-secondary ms-1" title="{f:translate(key: 'pageTree.count.none')}">
                    <span aria-hidden="true">0</span>
                    <span class="visually-hidden"><f:translate key="pageTree.count.none"/></span>
                </span>
            </f:else>
        </f:if>
    </f:else>
</f:if>
